.heroSection {
  position: relative;
}

.mainImage {
  width: 100%;
  height: auto;
  display: block;
}

.logo {
  z-index: 2;
  width: clamp(0px, 91.0465116279vw, 9999px);
  position: absolute;
  top: clamp(0px, 18.1395348837vw, 9999px);
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (min-width: calc(860px + 1px)) {
  .logo {
    width: clamp(0px, 47.5714285714vw, 9999px);
    top: clamp(0px, 9.2857142857vw, 9999px);
    left: clamp(0px, 8.9285714286vw, 9999px);
    transform: none;
  }
}

.catch {
  width: clamp(0px, 76.7441860465vw, 9999px);
  position: absolute;
  top: clamp(0px, 51.7441860465vw, 9999px);
  left: clamp(0px, 4.6511627907vw, 9999px);
}

@media screen and (min-width: calc(860px + 1px)) {
  .catch {
    width: clamp(0px, 40.0714285714vw, 9999px);
    top: clamp(0px, 26.9285714286vw, 9999px);
    left: clamp(0px, 8.9285714286vw, 9999px);
  }
}

/* Decorative Logos */
.logoOnpu {
  width: clamp(0px, 11.6279069767vw, 9999px);
  position: absolute;
  top: clamp(0px, 1.8604651163vw, 9999px);
  left: clamp(0px, 2.3255813953vw, 9999px);
}

@media screen and (min-width: calc(860px + 1px)) {
  .logoOnpu {
    width: clamp(0px, 7.1428571429vw, 9999px);
    top: clamp(0px, 1.4285714286vw, 9999px);
    left: clamp(0px, 2.1428571429vw, 9999px);
  }
}

.logoHeart {
  width: clamp(0px, 12.7906976744vw, 9999px);
  position: absolute;
  top: clamp(0px, 64.6511627907vw, 9999px);
  right: clamp(0px, 2.3255813953vw, 9999px);
}

@media screen and (min-width: calc(860px + 1px)) {
  .logoHeart {
    width: clamp(0px, 9.2857142857vw, 9999px);
    top: clamp(0px, 1.7857142857vw, 9999px);
    right: clamp(0px, 36.4285714286vw, 9999px);
  }
}

.logoZzz {
  width: clamp(0px, 29.0697674419vw, 9999px);
  position: absolute;
  top: clamp(0px, 77.9069767442vw, 9999px);
  left: clamp(0px, 3.488372093vw, 9999px);
  transform: rotate(-11deg);
}

@media screen and (min-width: calc(860px + 1px)) {
  .logoZzz {
    width: clamp(0px, 13.5714285714vw, 9999px);
    top: clamp(0px, 39.2857142857vw, 9999px);
    left: clamp(0px, 32.8571428571vw, 9999px);
    transform: rotate(-22deg);
  }
}

.logoSage {
  z-index: 1;
  width: clamp(0px, 15.6976744186vw, 9999px);
  position: absolute;
  top: clamp(0px, 164.6511627907vw, 9999px);
  right: clamp(0px, 5.2325581395vw, 9999px);
  transform: rotate(-38deg);
}

@media screen and (min-width: calc(860px + 1px)) {
  .logoSage {
    width: clamp(0px, 9.2857142857vw, 9999px);
    top: clamp(0px, 66.4285714286vw, 9999px);
    right: clamp(0px, 8.2142857143vw, 9999px);
  }
}

.logoIkari {
  z-index: 1;
  width: clamp(0px, 13.023255814vw, 9999px);
  position: absolute;
  top: clamp(0px, 184.3023255814vw, 9999px);
  left: clamp(0px, 3.488372093vw, 9999px);
  transform: rotate(-45deg);
}

@media screen and (min-width: calc(860px + 1px)) {
  .logoIkari {
    width: clamp(0px, 12.8571428571vw, 9999px);
    top: clamp(0px, 81.7857142857vw, 9999px);
    left: clamp(0px, 5.7142857143vw, 9999px);
  }
}

.logoAi {
  width: clamp(0px, 54.5714285714vw, 9999px);
  position: absolute;
  top: clamp(0px, 7.5vw, 9999px);
  right: 0;
}

.logoEngineer {
  z-index: 1;
  width: clamp(0px, 28.8571428571vw, 9999px);
  position: absolute;
  top: clamp(0px, 38.5714285714vw, 9999px);
  left: clamp(0px, 2.8571428571vw, 9999px);
}